@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: #fafafa;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: #fafafa;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@font-face {
  font-family: "Eu";
  src: url("/fonts/Eu-Alonira.ttf");
}