@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* min-width: 360px; */
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

@font-face {
  font-family: "Eu";
  src: url("/fonts/Eu-Alonira.ttf");
}

