@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: var(--foreground);
}

@font-face {
  font-family: "Eu";
  src: url("/fonts/Eu-Alonira.ttf");
}